<div id="introduction" class="doc-wrapper">
    <h6 class="doc-title">
        Introduction
        <a href="#introduction"><i class="fas fa-link"></i></a>
    </h6>
    <div class="doc-preview">
        <img src="/static/assets/doc-preview.jpg" alt="preview" class="introduction-img" />
    </div>
    <h4>Project Documentation Template</h4>
    <p class="doc-preview-text">
        <b>Project Doocumentation</b> is a responsive, clean, minimal
        and content-focused Documentation &amp; Knowledgebase Template.
        This template is suited for APIs, web-apps, Bootstrap templates,
        WordPress Themes, Agencies, Help Centers or any other digital
        products that may require a documentation.
    </p>
    <h6 id="main-features" class="mt-30 doc-sub-title">
        Main Features
        <a href="#main-features"><i class="fas fa-link"></i></a>
    </h6>
    <div class="row">
        <div class="col-md-4 col-lg-12 col-xl-4 tablet-xl-top">
            <ul class="list-unstyled features-list list-icon list-check list-success">
                <li>Bootstrap 5</li>
                <li>HTML5 &amp; CSS3</li>
                <li>SASS files included</li>
                <li>Fully Responsive</li>
                <li>Cross-Browser Compatible</li>
            </ul>
            <!-- / features-list -->
        </div>
        <!-- / column -->
        <div class="col-md-4 col-lg-12 col-xl-4 tablet-xl-top">
            <ul class="list-unstyled features-list list-icon list-check list-success">
                <li>Valid HTML</li>
                <li>No jQuery Dependencies</li>
                <li>Font Awesome 5</li>
                <li>Bootstrap Icons</li>
                <li>Google Fonts</li>
            </ul>
            <!-- / features-list -->
        </div>
        <!-- / column -->
        <div class="col-md-4 col-lg-12 col-xl-4">
            <ul class="list-unstyled features-list list-icon list-check list-success">
                <li>300+ UI Components</li>
                <li>Knowledgebase Layout</li>
                <li>3 Documentation Layouts</li>
                <li>Easy to customize</li>
                <li>24/7 Support</li>
            </ul>
            <!-- / features-list -->
        </div>
        <!-- / column -->
    </div>
    <!-- / row -->
</div>