<div id="starter-template" class="doc-wrapper">
    <h6 class="doc-title">
        Starter Template
        <a href="#starter-template"><i class="fas fa-link"></i></a>
    </h6>
    <p>
        To get started with just the base files and scripts added,
        please copy the below code:
    </p>
    <div id="doc-starter-template" class="doc-holder">
        <div class="doc-info">
            <img src="/static/assets/doc-preview.jpg" alt="" class="rounded" />
        </div>
        <!-- / doc-info -->
        <div class="doc-result-footer text-center">
            <button class="btn btn-primary btn-code" type="button" data-bs-toggle="collapse"
                data-bs-target="#code-starter" aria-expanded="false" aria-controls="code-starter">
                <i class="fas fa-code fs-16 va-middle mr-5"></i>
                <span>View Code</span>
            </button>
        </div>
        <!-- / doc-result-footer -->
        <div class="collapse" id="code-starter">
            <div class="doc-code">
               
                <!-- / code -->
            </div>
            <!-- / doc-code -->
        </div>
        <!-- / collapse -->
    </div>
    <!-- / starter-template -->
</div>