<div id="file-structure" class="doc-wrapper">
    <h6 class="doc-title">
        File Structure
        <a href="#file-structure"><i class="fas fa-link"></i></a>
    </h6>
    <p>*Click on the folders to open / close them.</p>
    <div class="file-structure-wrapper">
        <p class="parent-folder">
            <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse-folder" aria-expanded="true"
                aria-controls="collapse-folder" class="folder-wrap">
                <i class="fas fa-folder"></i><span class="folder-text">assets</span>
            </a>
        </p>
        <!-- / parent-folder -->
        <div id="collapse-folder" class="collapsed show" role="tabpanel" aria-labelledby="collapse-folder">
            <p class="sub-folders">
                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse-css" aria-expanded="true"
                    aria-controls="collapse-css" class="collapsed folder-wrap">
                    <i class="fas fa-folder"></i><span class="folder-text">css</span>
                </a>
            </p>
            <!-- / sub-folders -->
            <div id="collapse-css" class="collapse" role="tabpanel" aria-labelledby="collapse-css">
                <ul class="file-structure-list second-level">
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">animate.css</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">aos.css</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">bootstrap.min.css</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">bootstrap.min.css.map</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">bootstrap.rtl.css</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">bootstrap.rtl.css.map</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">doc.css</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">fontawesome-all.min.css</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">prism.css</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">style.css</span>
                    </li>
                </ul>
                <!-- / file-structure-sub -->
            </div>
            <!-- / collapse-css -->

            <p class="sub-folders">
                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse-images" aria-expanded="true"
                    aria-controls="collapse-images" class="collapsed folder-wrap">
                    <i class="fas fa-folder"></i><span class="folder-text">images</span>
                </a>
            </p>
            <!-- / sub-folders -->
            <div id="collapse-images" class="collapse" role="tabpanel" aria-labelledby="collapse-images">
                <ul class="file-structure-list second-level">
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">favicon.png</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">logo-light.png</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">logo-white.png</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">logo.png</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph-bg.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph-big.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph-mini.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph-square.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph-tall.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph-taller.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph-wide.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">ph.jpg</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-plus-circle text-grey"></i>
                        <span class="va-bottom">Demo Images</span>
                    </li>
                </ul>
                <!-- / file-structure-sub -->
            </div>
            <!-- / collapse-images -->

            <p class="sub-folders">
                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse-js" aria-expanded="true"
                    aria-controls="collapse-js" class="collapsed folder-wrap">
                    <i class="fas fa-folder"></i><span class="folder-text">js</span>
                </a>
            </p>
            <!-- / sub-folders -->
            <div id="collapse-js" class="collapse" role="tabpanel" aria-labelledby="collapse-js">
                <ul class="file-structure-list second-level">
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">aos.js</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">bootstrap.bundle.min.js</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">bootstrap.bundle.min.js.map</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">clipboard.min.js</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">jarallax.min.js</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">jarallax.min.js.map</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">prism.js</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">swiper-init-all.js</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">theme.js</span>
                    </li>
                </ul>
                <!-- / file-structure-sub -->
            </div>
            <!-- / collapse-js -->

            <p class="sub-folders">
                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse-scss" aria-expanded="true"
                    aria-controls="collapse-scss" class="collapsed folder-wrap">
                    <i class="fas fa-folder"></i><span class="folder-text">scss</span>
                </a>
            </p>
            <!-- / sub-folders -->
            <div id="collapse-scss" class="collapse" role="tabpanel" aria-labelledby="collapse-scss">
                <ul class="file-structure-list second-level">
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">_components.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">_media-screens.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">_mixins.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">_sections.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">_ui.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">_utility.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">_variables.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">doc.scss</span>
                    </li>
                    <li class="files-list single-file">
                        <i class="fas fa-file text-grey"></i>
                        <span class="va-bottom">style.scss</span>
                    </li>
                </ul>
                <!-- / file-structure-sub -->
            </div>
            <!-- / collapse-scss -->

            <p class="sub-folders">
                <a data-bs-toggle="collapse" data-parent="#accordion" href="#collapse-webfonts" aria-expanded="true"
                    aria-controls="collapse-webfonts" class="collapsed folder-wrap">
                    <i class="fas fa-folder"></i><span class="folder-text">webfonts</span>
                </a>
            </p>
            <!-- / sub-folders -->
            <div id="collapse-webfonts" class="collapse" role="tabpanel" aria-labelledby="collapse-webfonts">
                <ul class="file-structure-list second-level">
                    <li class="files-list single-file">
                        <i class="fas fa-plus-circle text-grey"></i>
                        <span class="va-bottom">All Font Files</span>
                    </li>
                </ul>
                <!-- / file-structure-sub -->
            </div>
            <!-- / collapse-webfonts -->
        </div>
        <!-- / collapse -->
        <ul class="file-structure-list parent-level">
            <li class="files-list single-file">
                <i class="fas fa-file text-grey"></i>
                <span class="va-bottom">index.html</span>
            </li>
            <li class="files-list single-file">
                <i class="fas fa-file text-grey"></i>
                <span class="va-bottom">documentation.html</span>
            </li>
            <li class="files-list single-file">
                <i class="fas fa-file text-grey"></i>
                <span class="va-bottom">knowledgebase.html</span>
            </li>
        </ul>
        <!-- / file-structure-sub -->
    </div>
    <!-- / file-structure -->
</div>
