<li class="nav-item">
    <a class="nav-link sidenav-sub-item" href="#introduction">Introduction 1</a>
</li><!-- / nav-item -->
<li class="nav-item">
    <a class="nav-link sidenav-sub-item" href="#file-structure">File Structure</a>
</li><!-- / nav-item -->
<li class="nav-item">
    <a class="nav-link sidenav-sub-item" href="#starter-template">Starter Template</a>
</li><!-- / nav-item -->
<li class="nav-item">
    <a class="nav-link sidenav-sub-item" href="#setup-sass">Setup Sass</a>
</li><!-- / nav-item -->