<div class="doc-footer-wrapper footer-wrapper bg-light">
    <footer class="bg-transparent relative">
        <div class="container">
            <div class="row v-center mobile-center">
                <div class="col-lg-4 tablet-lg-text-center tablet-lg-top-30">
                    <img src="/static/assets/logo.png" class="footer-logo" alt="">
                </div><!-- / footer-left-area -->
                <div class="col-lg-8 text-right">
                    <p>© 2023 Project Doocumentation</p>
                </div><!-- / footer-right-area -->
            </div><!-- / row -->
        </div><!-- / container -->
    </footer>
</div><!-- / footer-wrapper -->
