<nav class="side-nav left-nav navbar-expand-lg nav nav-style2 bg-body">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
        aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span></button><!-- / navbar-toggler -->

    <div class="collapse navbar-collapse" id="navbar-toggle">
        <ul class="pl-0" id="main-collapse">
            <li class="sidenav-logo">
                <a href="/"><img src="/static/assets/logo.png" alt="" /></a>
            </li>

            {% include "overview/sidebar.html" %}

            <li class="nav-item">
                <a class="nav-link has-collapse collapsed" href="#side-dropdown2" data-bs-toggle="collapse"
                    data-bs-target="#side-dropdown2" aria-expanded="false"
                    aria-controls="side-dropdown2"><span>Content</span></a>
                <div class="collapse" id="side-dropdown2" data-bs-parent="#main-collapse">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item"
                                href="/documentation-content.html#typography">Typography</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/documentation-content.html#icons">Icons</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/documentation-content.html#code">Code</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/documentation-content.html#tables">Tables</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/documentation-content.html#images">Images</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/documentation-content.html#videos">Videos</a>
                        </li>
                        <!-- / nav-item -->
                    </ul>
                    <!-- nav -->
                </div>
                <!-- / collapse -->
            </li>
            <!-- / nav-item -->

            <li class="nav-item">
                <a class="nav-link has-collapse collapsed" href="#side-dropdown3" data-bs-toggle="collapse"
                    data-bs-target="#side-dropdown3" aria-expanded="false"
                    aria-controls="side-dropdown3"><span>Components</span></a>
                <div class="collapse" id="side-dropdown3" data-bs-parent="#main-collapse">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/accordions.html">Accordions</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/alerts.html">Alerts</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/buttons.html">Buttons</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/cards.html">Cards</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/modals.html">Modals</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/navigation.html">Navigation</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/progress.html">Progress</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/promo-box.html">Promo Box</a>
                        </li>
                        <!-- / nav-item -->
                        <li class="nav-item">
                            <a class="nav-link sidenav-sub-item" href="/components/widgets.html">Widgets</a>
                        </li>
                        <!-- / nav-item -->
                    </ul>
                    <!-- nav -->
                </div>
                <!-- / collapse -->
            </li>
            <!-- / nav-item -->
        </ul>
        <!-- / main-collapse -->
    </div>
    <!-- / collapse -->
</nav>
<!-- / nav-scroll -->
<!-- / side-nav -->
